# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.crash.log
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/

# Docker / logs
*.log
pact-mock-service.log

# IDE / editor folders
.vs/
.vscode/
.github/

# Archives
*.zip